@use "./variables.scss" as *;

// put your custom CSS here!
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

.folder-title {
  font-size: 1.25rem !important;
}

.explorer {
  min-height: 2.5rem;
}
